html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}


/*NAVBAR*/

.category-btn {
    padding: 8px 15px;
    border: 2px solid transparent;
}

.search-container input,
.search-container input:focus,
.search-container input:-webkit-autofill,
.search-container input:-webkit-autofill:focus {
    border: none;
    outline: none;
    background-color: #333;
    color: white;
    box-shadow: none;
}

.search-container {
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

.search-bar {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    width: 100%;
}


.search-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    color: white;
}

    .search-btn i {
        font-size: 18px;
    }

input[type="number"]:hover::-webkit-inner-spin-button,
input[type="number"]:hover::-webkit-outer-spin-button,
input[type="number"]:focus::-webkit-inner-spin-button,
input[type="number"]:focus::-webkit-outer-spin-button,
input[type="number"]:active::-webkit-inner-spin-button,
input[type="number"]:active::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}