html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
  background-color: antiquewhite;
}

.card-img-home {
    height: 400px;
    width: 100%;
}

.clickable-card {
    transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.clickable-card:hover {
    transform: scale(1.05); /* Effetto ingrandimento al passaggio del mouse */
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.2); /* Ombra più visibile */
    cursor: pointer;
}


.favorite-btn {
    position: absolute;
    bottom: 210px;
    right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 0px;
    background-color: white;
    color: black;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.1s ease-in-out;
}

.favorite-btn:hover, .favorite-btn:active {
    font-size: xx-large;
    color: red;
}

.product-card {
    margin-bottom: 30px;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
}