* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*NAVBAR*/
.navbar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 100%; 
    z-index: 1000;
}

.category-btn {
    padding: 8px 15px;
    border: 2px solid transparent;
}

/*BARRA DI RICERCA*/
.search-container input,
.search-container input:focus,
.search-container input:-webkit-autofill,
.search-container input:-webkit-autofill:focus {
    border: none;
    outline: none;
    background-color: #333;
    color:white;
}

.search-container {
    flex-grow: 1;
    max-width: 100%;
    position: relative;
}

.search-bar {
    background-color: #333;
    border: none;
    border-radius: 25px;
    padding: 8px 15px;
    width: 100%;
}
   

    .search-bar,
    .search-btn,
    .search-bar::placeholder {
        color: white;
    }

   
    .search-bar:focus {
        outline: none; 
        box-shadow: none; 
    }

        .search-bar::-webkit-search-cancel-button {
            -webkit-appearance: none; 
            appearance: none; 
        }

.search-btn {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
}

    .search-btn i {
        font-size: 18px;
    }



    /*DROPDOWN*/


.dropdown a:hover {
    border: 1px solid white; 
    color: inherit; 
    background-color: transparent; 
    outline: none; 
}


.dropdown a {
    border: 2px solid transparent; 
    padding: 5px;
}

.dropdown-menu-end[data-bs-popper] {
    right: 0px;
    left: 5%;
    margin-top:4px;
}

/*lista ABBIGLIAMENTO*/
.sidebar {
    position: fixed;
    height:100vh;
    top:20px !important;
    left:auto; 
    padding: 10px;
    border-right: 1px solid grey;
}

.sidebar a:hover{
    color:darkred !important;
}

/*DROPDOWN MENU VESTITI*/

.dropend{
    position:fixed;
    top:100px;
    z-index:1000;
}



