 <div class="sidebar col-md-2 d-none d-md-block d-flex flex-column">
    <a class="text-decoration-none text-dark mt-4 mx-3" asp-controller="Gonna" asp-action="Index">Gonna</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Jeans e pantaloni" asp-action="Index">Jeans e Pantaloni</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Maglieria" asp-action="Index">Maglieria e felpe</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Pantaloncini" asp-action="Index">Pantaloncini</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Pezzi interi" asp-action="Index">Pezzi interi</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Soprabiti" asp-action="Index">Soprabiti</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Top" asp-action="Index">Top</a>
    <hr class="text-secondary" />
    <a class="text-decoration-none text-dark mx-3" asp-controller="Vestiti" asp-action="Index">Vestiti</a>
  </div>
  <div class="btn-group dropend col-1 d-md-none d-xs-block">
    <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
    </button>
    <ul class="dropdown-menu">
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Gonna" asp-action="Index">Gonna</a></li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Jeans e pantaloni" asp-action="Index">Jeans e
          pantaloni</a></li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Maglieria" asp-action="Index">Maglieria</a></li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Pantaloncini" asp-action="Index">Pantaloncini</a>
      </li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Pezzi interi" asp-action="Index">Pezzi interi</a>
      </li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Soprabiti" asp-action="Index">Soprabiti</a></li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Top" asp-action="Index">Top</a></li>
      <li><a class="dropdown-item mb-3" asp-area="" asp-controller="Vestiti" asp-action="Index">Vestiti</a></li>
    </ul>
  </div>


