@{
	var cat = ViewBag.Categories as List<Category>;
	var color = ViewBag.Color as List<ColorModel>;
	var sizes = ViewBag.Sizes as List<SizeModel>;
	var mat = ViewBag.Material as List<MaterialModel>;
	var productList = ViewBag.Prod as ProductListModel;
	var productListAdd = ViewBag.AddProd as ProductAddModel;
	var productEdit = ViewBag.EditProd as EditProduct;
}




<h1 class="title text-bolder ms-5 mb-4 mt-3">Dacci una mano</h1>

<div class="container-fluid">
	<div class="row">
		<div class="sidebar col-md-2 d-none d-md-block d-flex flex-column">

			<a class="text-decoration-none text-dark mt-4 mx-3" id="Add" style="cursor:pointer">Aggiungi</a>
			<hr class="text-secondary" />
			<a class="text-decoration-none text-dark mx-3" id="manageFormBtn" style="cursor:pointer">Elimina o modifica</a>

		</div>


		<div class="col-md-10" id="formContainer">
			<div id="addForm" style="display: none;">
				@await Html.PartialAsync("_Add")
			</div>
			<div id="manageForm" style="display: none;">
				@await Html.PartialAsync("_TableProducts")
			</div>
			<div id="editProd" style="display: @(ViewBag.EditProd != null ? "block" : "none");">
				@await Html.PartialAsync("_Edit")
			</div>
		</div>

		
	</div>
</div>

<script>
	document.getElementById('Add').addEventListener('click', function() {
		var addForm = document.getElementById('addForm');
		var manageForm = document.getElementById('manageForm');
		if (addForm.style.display === 'none') {
			addForm.style.display = 'block';
			manageForm.style.display = 'none';
		} else {
			addForm.style.display = 'none';
		}
	});

	document.getElementById('manageFormBtn').addEventListener('click', function() {
		var manageForm = document.getElementById('manageForm')
		var addForm = document.getElementById('addForm');
		if (manageForm.style.display === 'none') {
			manageForm.style.display = 'block';
			addForm.style.display = 'none';
		} else {
			manageForm.style.display = 'none';
		}
	});

	document.getElementById('EditForm-btn').addEventListener('click', function() {
		var manageForm = document.getElementById('manageForm')
		var addForm = document.getElementById('addForm');
		var EditForm = document.getElementById('editProd');
		

		if (EditForm.style.display === 'none') {
			EditForm.style.display = 'block';
			addForm.style.display = 'none';
		} else {
			EditForm.style.display = 'none';
		}
	});

</script>


