@{
	var cat = ViewBag.Categories as List<Category>;
	var color = ViewBag.Color as List<ColorModel>;
	var sizes = ViewBag.Sizes as List<SizeModel>;
	var mat = ViewBag.Material as List<MaterialModel>;
	string a = "a";
}

<div class="container-fluid">

	<div class="row">
			<div class="sidebar col-md-2 d-none d-md-block d-flex flex-column">

				<a class="text-decoration-none text-dark mt-4 mx-3" asp-controller="" asp-action="Index">Aggiungi</a>
				<hr class="text-secondary" />
				<a class="text-decoration-none text-dark mx-3" asp-controller="" asp-action="Index">Elimina o modifica</a>

			</div>
			<div class="btn-group dropend col-1 d-md-none d-xs-block">
				<button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item mb-3" asp-area="" asp-controller="" asp-action="Index">Aggiungi</a></li>
					<li>
						<a class="dropdown-item mb-3" asp-area="" asp-controller="" asp-action="Index">
							Elimina o modifica
						</a>
					</li>

				</ul>
			</div>
		<div class="col-9">
			@await Html.PartialAsync("_Add")
		</div>
	</div>
</div>